<a href="https://colab.research.google.com/github/tsnow2010/umbc_data690_fall2024/blob/main/session_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# UMBC DATA690 Fall 2024

## Session 02

## Step 1: Load the Survey Response Data

In [5]:
import pandas as pd

DATA_URL = 'https://raw.githubusercontent.com/wcj365/python-stats-dataviz/master/data/UMBC%20DATA%20690%20FALL%202024%20DR%20WANG%20Student%20Survey.csv'

df = pd.read_csv(DATA_URL)

df.shape
df.head(5)
df.tail(2)
df.sample(3)

#print(pd.DataFrame(df['Year']))

,Timestamp,1. My primary educational background,2. My primary job function,3. My level of computer programing knowledge,4. My level of Python progrmming knowledge,5. My level of Statistics knowledge,6. My Familarity with GitHub,7. My gender,8. My Birth Year,9. What do you enjoy doing in your leisure time?,10. What do you expect to get out of this course?,11. What is your long-term career goal?,12. Other courses taking this semester
3,2024/08/19 12:38:37 PM AST,"STEM (Science, Technology, Engineering, Math)",Technology/engineering-oriented,Intermediate,Intermediate,Intermediate,I use GitHub occasionally,Female,7/21/1999,Surfing google,"Get knowledge on statistics, perform data anal...",Be well suited for Data Science position,This is my last semester and is the only cours...
5,2024/08/22 10:34:10 AM AST,"STEM (Science, Technology, Engineering, Math)",Full-time Student,Intermediate,Intermediate,Intermediate,I use GitHub occasionally,Female,2001,"Reading Books, learning new skills","I expect to learn key statistical methods, per...",My long-term career goal is to become an exper...,"HIT 658 Health Informatics-1, HIT 750 Data Ana..."
7,2024/08/22 10:55:40 PM AST,"STEM (Science, Technology, Engineering, Math)",Full-time Student,Intermediate,Intermediate,Beginner,I use GitHub occasionally,Male,1999,Fictional books and video games.,Exploring new methods of analysis of data.,Data Scientist.,ENMG

## Step 2: Explore Age Distribution

In [6]:
# Access a column in a panda object like its a dictionary and then convert into a list.
yob_list = list(df['8. My Birth Year'])

In [7]:
cleansed_yob_list = [] # Empty list

for yob in yob_list:
  cleansed_yob = yob[-4:]
  cleansed_yob_list.append(cleansed_yob)

cleansed_yob_list

['2000',
 '2002',
 '1997',
 '1999',
 '2000',
 '2001',
 '2000',
 '1999',
 '1978',
 '2000',
 '1999',
 '2000',
 '1998',
 '2001',
 '2001',
 '2000',
 '2002',
 '1992',
 '2001',
 '1997',
 '1999']

In [8]:
# Now let's modify the same column and convert the years of birth to ages.

age_list = []

# Iterates through years and converts into age (CAO 2024)
for yob in cleansed_yob_list:
  age = int(2024-int(yob))
  age_list.append(age)

age_list

[24,
 22,
 27,
 25,
 24,
 23,
 24,
 25,
 46,
 24,
 25,
 24,
 26,
 23,
 23,
 24,
 22,
 32,
 23,
 27,
 25]

In [9]:
# Finds minimum age.
min(age_list)

# Finds maximum age.
max(age_list)

# Finds average
total_age = 0

for age in age_list:
  total_age = total_age + age

# Calculates and rounds average age.
round(total_age/len(age_list))

26

In [10]:
revised_age_total = 0
num_skipped = 0

for age in age_list:
  if age > 35:
    num_skipped += 1
    continue
  revised_age_total += age

print('Revised average age, minus outliers, is: ' + str(round(revised_age_total/(len(age_list)-num_skipped))))

Revised average age, minus outliers, is: 25

In [11]:
# Now, lets remove some smaller numbered outliers as well.

revised_age_total_2 = 0
num_skipped_2 = 0

for age in age_list:
  if age >= 35 or age <= 22:
    print('Age', age, 'is skipped.')
    num_skipped_2 += 1
  else:
    revised_age_total_2 += age

print('Revised average age, minus small and large outliers, is:', str(round(revised_age_total_2/(len(age_list)-num_skipped_2))))

Age 22 is skipped.
Age 46 is skipped.
Age 22 is skipped.
Revised average age, minus small and large outliers, is: 25

## Step 3: Explore Educational Background

In [37]:
def strip_all(word):
  strip1 = word.strip(')')
  strip2 = strip1.strip('(')
  strip3 = strip2.strip(',')
  return strip3

edu_list = list(df['1. My primary educational background'])

# Use a list of keywords to analyze educational background.

stem_kw_list = ['stem', 'mathematics', 'software', 'engineering', 'science', 'psychology']
social_sci_kw_list = ['history', 'political' 'science', 'social']
crim_just_kw_list = ['criminal', 'justice', 'policing', 'law']

# Counts number of students in multiple disciplines using keywords
stem_stud_count = 0
social_sci_stud_count = 0
crim_just_stud_count = 0
other_stud_count = 0

for student_edu in edu_list:
  # Creates a list from the response with each element being (1) word with punctuation
  kw_list = student_edu.split()

  # Removes any commas or periods or other punctuation around keywords.
  all_undercase_kw_list = [word.lower() for word in kw_list]
  np_kw_list = [strip_all(word) for word in all_undercase_kw_list]

  # For loop checks to see if student gave keyword responses to (3) different educational backgrounds.
  for kw in np_kw_list:

    # Checks for STEM words WITHOUT social science terms.
    if kw in stem_kw_list and kw != 'political' and kw != 'social':
      stem_stud_count += 1
      break

    # Checks for social science terms
    elif kw in social_sci_kw_list:
      social_sci_stud_count += 1
      break

    # Checks for criminal justice terms
    elif kw in crim_just_kw_list:
      crim_just_stud_count += 1
      break
    # Continues with next word if word is not a "keyword"
    elif kw is np_kw_list[len(np_kw_list)-1]:
        other_stud_count += 1
        break
    continue


print("STEM Students: ", stem_stud_count)
print("Social Science Students: ", social_sci_stud_count)
print("Criminal Justice Students: ", crim_just_stud_count)
print("Other Students: ", other_stud_count)
print("Total Students: ", len(edu_list))

['stem', 'science', 'technology', 'engineering', 'math']
['stem', 'science', 'technology', 'engineering', 'math']
['stem', 'science', 'technology', 'engineering', 'math']
['stem', 'science', 'technology', 'engineering', 'math']
['stem', 'science', 'technology', 'engineering', 'math']
['stem', 'science', 'technology', 'engineering', 'math']
['stem', 'science', 'technology', 'engineering', 'math']
['stem', 'science', 'technology', 'engineering', 'math']
['stem', 'science', 'technology', 'engineering', 'math']
['stem', 'science', 'technology', 'engineering', 'math']
['stem', 'science', 'technology', 'engineering', 'math']
['stem', 'science', 'technology', 'engineering', 'math']
['social', 'science', 'history', 'philosophy', 'education', 'etc.', '']
['stem', 'science', 'technology', 'engineering', 'math']
['stem', 'science', 'technology', 'engineering', 'math']
['stem', 'science', 'technology', 'engineering', 'math']
['stem', 'science', 'technology', 'engineering', 'math']
['criminal', 'justice', 'with', 'some', 'software', 'engineering', 'courses']
['stem', 'science', 'technology', 'engineering', 'math']
['stem', 'science', 'technology', 'engineering', 'math']
['stem', 'science', 'technology', 'engineering', 'math']
STEM Students:  19
Social Science Students:  1
Criminal Justice Students:  1
Other Students:  0
Total Students:  21

In [15]:
line = "hello this is a test"
print(line.split())

x = 1
x += 1
print(x)

['hello', 'this', 'is', 'a', 'test']
2

## Step 4: Explore Job Function

## Step 5: *Try something new!*