<a href="https://colab.research.google.com/github/tsnow2010/umbc_data690_fall2024/blob/main/Assignments/Assignment_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 10 - Mini Project

Comparing the economy and wealth of G7 countries and BRICS countries.

Use http://g7brics.streamlit.app as the reference.

Make sure your check your calculation, aggregation, and visualization with the reference site for correctness.

For visualization, pay attention to details - color, label, information display.

In [ ]:
# Before aggregating, assign the groups, i.e. G7, BRICS, REST OF THE WORLD.

# Check out source code for help and ideas!   https://github.com/wcj365/g7brics/tree/main/g7brics_app

## Step 1 - Import Python libraries

In [2]:
import pandas as pd
import plotly.express as px
import csv

## Step 2 - Load the input dataset

Download the individaul countries data from the reference site and upload it to your GitHub folder. Load the dataset directly from your GitHub.

In [23]:
df = pd.read_csv('https://raw.githubusercontent.com/tsnow2010/umbc_data690_fall2024/refs/heads/main/Assignments/data/mini_project_data.csv')

## Step 3 - Explore the input dataset

- Display number of rows and columns
- Dispaly at first 5 rows, last 5 rows, and random 5 rows.
- Display information about the dataset
- For all numerical variables, display their summary statistics
- For all categorical variables, display their number of categories and most frequent category
- Find out how many countries each region has.
- Display all countries that are Latin American & Caribbean.
- Find out how many countries each income level has.
- Display all countries that are of high income.

In [ ]:
df.shape

In [6]:
df.head(5)

,Unnamed: 0,Year,Country Code,Country Name,Region,Income Group,Lending Type,Military Expenditure ($Millions),Military Expenditure (% of GDP),GDP ($Billions),GDP PPP ($Billions),GDP Per Capita ($),GDP Per Capita PPP ($),Suicide Mortality Rate (Per 100K People),Life Expectancy at Birth (Years),Population (Millions),Group
0,0,2000,ABW,Aruba,Latin America & Caribbean,High income,Not classified,NaN,NaN,1.873453,2.739898,21026.167091,30750.475341,NaN,73.569,0.089101,REST OF WORLD
1,1,2000,AFG,Afghanistan,South Asia,Low income,IDA,NaN,NaN,3.521418,16.377033,180.188369,838.000705,4.9,55.298,19.542982,REST OF WORLD
2,2,2000,AGO,Angola,Sub-Saharan Africa,Lower middle income,IBRD,583.621334,6.392603,9.129595,53.876765,556.884253,3286.358493,8.7,46.024,16.394062,REST OF WORLD
3,3,2000,ALB,Albania,Europe & Central Asia,Upper middle income,IBRD,45.362503,1.246360,3.480355,11.927686,1126.683340,3861.308568,4.9,75.404,3.089027,REST OF WORLD
4,4,2000,AND,Andorra,Europe & Central Asia,High income,Not classified,NaN,NaN,1.432606,2.197696,21674.299722,33249.564905,NaN,NaN,0.066097,REST OF WORLD

In [ ]:
df.tail(5)

In [ ]:
df.sample(5)

In [ ]:
df.describe()

In [ ]:
df.describe(include='any'). # categorical?

In [26]:
df[df['Year'] == 2010].groupby(["Region"])["Country Code"].count()

Region
East Asia & Pacific           37
Europe & Central Asia         58
Latin America & Caribbean     42
Middle East & North Africa    21
North America                  3
South Asia                     8
Sub-Saharan Africa            48
Name: Country Code, dtype: int64

In [25]:
# Needs work
df[df['Region'] == "Latin America & Caribbean"]

Empty DataFrame
Columns: [Unnamed: 0, Year, Country Code, Country Name, Region, Income Group, Lending Type, Military Expenditure ($Millions), Military Expenditure (% of GDP), GDP ($Billions), GDP PPP ($Billions), GDP Per Capita ($), GDP Per Capita PPP ($), Suicide Mortality Rate (Per 100K People), Life Expectancy at Birth (Years), Population (Millions), Group]
Index: []

In [27]:
df[df['Year'] == 2010].groupby(["Income Group"])["Country Code"].count()

Income Group
High income            85
Low income             26
Lower middle income    51
Not classified          1
Upper middle income    54
Name: Country Code, dtype: int64

In [33]:
# Displays number of rows but is there a better way?
df[(df["Income Group"] == 'High income') & (df["Year"] == 2010)].count()

Unnamed: 0                                  85
Year                                        85
Country Code                                85
Country Name                                85
Region                                      85
Income Group                                85
Lending Type                                85
Military Expenditure ($Millions)            53
Military Expenditure (% of GDP)             51
GDP ($Billions)                             79
GDP PPP ($Billions)                         72
GDP Per Capita ($)                          79
GDP Per Capita PPP ($)                      72
Suicide Mortality Rate (Per 100K People)    56
Life Expectancy at Birth (Years)            78
Population (Millions)                       85
Group                                       85
dtype: int64

## Step 4 - Categorize Each Country

Create a new column "Group". If a country is one of the seven G7 countried, the value of "Group" would be "G7", if a country of one of the five BRICS countries, the value of "Group" would be "BRICS". Otherwise, the value of "Group" would be "REST of WORLD".

In [46]:
g7_countries = ["Canada", "France", "Germany", "Italy", "Japan", "United Kingdom", "United States"]
brics_countries = ["Brazil", "Russia", "India", "China", "South Africa"]

def group_countries(country):
  if country in g7_countries:
    return "G7"
  if country in brics_countries:
    return "BRICS"
  else:
    return "REST of WORLD"

df['Group'] = df['Country Name'].apply(group_countries)
df.sample(10)

,Unnamed: 0,Year,Country Code,Country Name,Region,Income Group,Lending Type,Military Expenditure ($Millions),Military Expenditure (% of GDP),GDP ($Billions),GDP PPP ($Billions),GDP Per Capita ($),GDP Per Capita PPP ($),Suicide Mortality Rate (Per 100K People),Life Expectancy at Birth (Years),Population (Millions),Group
1817,1817,2008,GUY,Guyana,Latin America & Caribbean,High income,IDA,30.520593,1.008881,3.025187,6.366244,4011.386904,8441.615559,30.0,66.288000,0.754150,REST of WORLD
4047,4047,2018,NER,Niger,Sub-Saharan Africa,Low income,IDA,229.639906,1.793809,12.837307,28.311897,568.599660,1254.011796,5.3,62.454000,22.577058,REST of WORLD
3111,3111,2014,GMB,"Gambia, The",Sub-Saharan Africa,Low income,IDA,14.599970,1.207689,1.229462,4.185555,561.649635,1912.068799,5.3,62.269000,2.189019,REST of WORLD
4064,4064,2018,PRK,"Korea, Dem. People's Rep.",East Asia & Pacific,Low income,Not classified,1604.444444,NaN,NaN,NaN,NaN,NaN,9.3,73.031000,25.638149,REST of WORLD
2827,2827,2013,ARG,Argentina,Latin America & Caribbean,Upper middle income,IBRD,5137.974301,0.837736,552.025140,848.625298,13080.254732,20108.205701,8.6,76.491000,42.202935,REST of WORLD
699,699,2003,CYP,Cyprus,Europe & Central Asia,High income,Not classified,288.427606,1.985163,14.547325,17.441148,20252.238281,24280.910156,2.2,77.788000,1.000350,REST of WORLD
3941,3941,2018,CHL,Chile,Latin America & Caribbean,High income,IBRD,5545.831933,1.877614,295.857563,478.093905,15820.033366,25564.536717,8.8,80.133000,18.701450,REST of WORLD
3158,3158,2014,MAR,Morocco,Middle East & North Africa,Lower middle income,IBRD,4048.612524,3.677856,119.130841,250.969666,3430.534424,7227.012695,7.7,72.538000,34.248603,REST of WORLD
1695,1695,2007,SRB,Serbia,Europe & Central Asia,Upper middle income,IBRD,971.570565,2.250517,43.170991,82.958791,5848.476405,11238.623975,18.7,73.631707,7.381579,REST of WORLD
1217,1217,2005,MNG,Mongolia,East Asia & Pacific,Upper middle income,IBRD,29.797967,1.017286,2.523472,13.712180,986.018041,5357.879544,24.0,64.879000,2.559255,REST of WORLD

## Step 5 - Aggregate Data

Aggregate the following columns at the "Group" level for each year:

- For GDP, using "sum" for aggregation.
- For GDP Per Capita, use "mean" for aggregation.
- (Check your calculation with the reference site.)

In [49]:
df_groupby_group = df.groupby(['Group','Year']).aggregate({
    'GDP ($Billions)': 'sum',
    'GDP Per Capita ($)': 'mean'
})
df_groupby_group.head(5)

            GDP ($Billions)  GDP Per Capita ($)
Group Year
BRICS 2000      2486.928163         2092.467207
      2001      2520.254577         1878.182566
      2002      2624.379626         1787.624629
      2003      3023.233942         2246.204011
      2004      3589.595831         2756.069939

## Step 6 - Calculate Percentage Share of GDP

For each year, calculate the percentage share of each group's GDP. Check your calculation with the reference site.

## Step 7 - Plot the GDP Percentage Share Over Time

## Step 8 - Plot the Total GDP Over Time

## Step 9 - Plot the 2023 GDP Pie Chart

Each group is a slice of a pie. Make sure the following information is displayed for each slice:

- Group Name
- GDP Percentage Share
- GDP Total

## Step 10 - Plot the 2023 GDP Pie Charts

One pie chart for G7 and one pie chart for BRICK. Each country is a slice of a pie. Make sure the following information is displayed for each slice:

- Country Name
- GDP Percentage Share
- GDP Total

## Step 11 - Plot the 2023 GDP Sun Burst Chart

Showing the hierarchy of Group and Country.

## Step 12 - Plot the 2023 GDP Tree Map Chart

Showing the hierarchy of Group and Country.

## Step 13 - Plot the Historic Trend of GDP Per Capita

## Step 14 - Plot the 2023 GDP Per Capita Bar Chart

Each group is a bar.

## Step 15 - Plot the 2023 GDP Per Capita Bar Chart of G7 and BRICS countries

Each country is a bar. Differentiate group by color.